* {
  transition: all 0.2s ease-in-out;
}
body {
  font: 10px sans-serif;
  padding: 40px 60px;
}

.bar {
  opacity: 0.7;
}

rect.bar:hover {
  opacity: 1.0;
}

text.label {
  fill: #FFFFFF;
  font: 10px sans-serif;
}

.category {
  opacity: 0.7;
}
.category:hover {
  opacity: 1;
}

.highlight {
  opacity: 1;
}

.reverse {
  opacity: 0.2;
}